<footer class="site-footer">

  <div class="wrapper">

    <div class="footer-col-wrapper">

      <div class="footer-col  footer-col-1">
        <ul class="related-links">
          
          <li>
            <a href="https://photographicdictionary.com">Photographic Dictionary</a>
          </li>
          <li>
            <a href="http://vidoegraphicdictionary.com">Videographic Dictionary</a>
          </li>
          <li>
            <a href="http://giraffian.com">Giraffian</a>
          </li>

        </ul>
      </div>

      <div class="footer-col  footer-col-2">
        <p class="text">{{ site.description }}</p>
        <p>Content &copy Robyn Stanley (<a href="https://twitter.com/RumpledElf">RumpledElf</a>)</p>
      </div>
    </div>

  </div>

</footer>
